<!DOCTYPE html>
<html lang="en" th:replace="~{/admin/index.html :: dynamic(~{::body})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Manage your products efficiently with our comprehensive product management system."
          name="description">
    <title>Products Management</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table td, .table th {
            word-wrap: break-word;
            white-space: normal;
            max-width: 150px; /* Đặt chiều rộng tối đa cho các cột, bạn có thể điều chỉnh giá trị này */
        }

        .table th {
            white-space: nowrap; /* Để tiêu đề cột không bị xuống dòng */
        }
    </style>
</head>
<body>
<header>
    <h1 class="text-center">Products Management</h1>
</header>
<main class="container">
    <form class="col-lg-6 mb-4" th:action="@{/products/save}" th:object="${product}">
        <input th:field="*{id}" type="hidden">
        <div class="form-group mb-3">
            <label for="name">Name:</label>
            <input class="form-control" id="name" placeholder="Enter name" required th:field="*{name}" type="text">
        </div>
        <div class="form-group mb-3">
            <label for="price">Price:</label>
            <input th:value="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}" class="form-control"
                   id="price" placeholder="Enter price" required th:field="*{price}" type="number">
            <h5 th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></h5>
        </div>
        <div class="form-group mb-3">
            <label for="image">Image:</label>
            <input class="form-control" id="image" placeholder="Enter image URL" th:field="*{image}" type="text">
        </div>
        <div class="form-group mb-3">
            <label for="description">Description:</label>
            <textarea maxlength="255" minlength="10" required class="form-control" id="description" name="description" th:field="*{description}">
            </textarea>
        </div>
        <div class="form-group mb-3">
            <label>Available:</label>
            <div class="d-flex gap-5">
                <div class="form-check">
                    <label class="form-check-label" for="availableTrue">Yes</label>
                    <input class="form-check-input" id="availableTrue" th:field="*{available}" type="radio"
                           value="true">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="availableFalse">No</label>
                    <input class="form-check-input" id="availableFalse" th:field="*{available}" type="radio"
                           value="false">
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="category">Category:</label>
            <select class="form-control" id="category" th:field="*{category}">
                <option th:each="category : ${categories}" th:text="${category.name}"
                        th:value="${category.id}"></option>
            </select>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">ADD</button>
            <button class="btn btn-success" type="submit">UPDATE</button>
            <button class="btn btn-danger" th:formaction="@{/products/delete/{id}(id=*{id})}" type="submit">DELETE
            </button>
            <button class="btn btn-primary" th:formaction="@{/products}" type="submit">RESET</button>
        </div>
    </form>
    <form class="mb-4" th:action="@{/products/filter}">
        <div class="form-group d-flex align-items-center">
            <label class="me-2" for="availableFilter">Filter by Availability:</label>
            <select class="form-control me-2" id="availableFilter" name="availableFilter">
                <option value="">All</option>
                <option value="true">Còn hàng</option>
                <option value="false">Hết hàng</option>
            </select>
            <button class="btn btn-secondary" type="submit">Filter</button>
        </div>
    </form>
    <h2>Danh sách sản phẩm</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Date</th>
            <th>Available</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,state : ${products}">
            <td th:text="${state.count}"></td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.createDate}"></td>
            <td th:classappend="${product.available ? 'fw-bold text-success' : 'text-danger'}"
                th:text="${product.available ? 'Còn hàng' : 'Hết hàng'}"></td>
            <td th:text="${product.description}"></td>
            <td>
                <a class="btn btn-warning btn-sm" th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
