<!DOCTYPE html>
<html lang="en" th:replace="~{/admin/index.html :: dynamic(~{::body})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Management</title>
</head>
<body>
<h1 class="text-center">Accounts Management</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" th:action="@{'/users/add'}" th:object="${account}">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" id="username" placeholder="Enter username" th:field="*{username}"
                       type="text">
            </div>
            <div class="form-group">
                <label for="fullname">Fullname:</label>
                <input class="form-control" id="fullname" placeholder="Enter fullname" th:field="*{fullname}"
                       type="text">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" id="password" maxlength="20" minlength="8" name="password"
                       placeholder="Enter password"
                       required th:value="*{password}" type="password">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email" placeholder="Enter email" th:field="*{email}" type="email">
            </div>
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input class="form-control" id="photo" placeholder="Enter photo URL" th:field="*{photo}"
                       type="text">
            </div>
            <div class="form-group">
                <label for="enabled">Enabled:</label>
                <input id="enabled" th:field="*{enabled}" type="checkbox">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">ADD</button>
                <a class="btn btn-danger" th:href="@{/users/delete/{username}(username=*{username})}">Delete</a>
                <a class="btn btn-secondary" th:href="@{/templates/users}">Cancel</a>
            </div>
        </form>
    </div>
</div>
<div class="text-center mt-4">
    <form class="form-inline justify-content-center" th:action="@{'/users/search'}">
        <input class="form-control mr-2" name="search" placeholder="Search user" type="text">
        <button class="btn btn-primary mr-2">Search</button>
        <a class="btn btn-danger" th:href="@{'/users'}">Reset</a>
    </form>
</div>
<h1 class="text-center mt-5">Users List [<b th:text="${#lists.size(accounts)}"></b>]</h1>
<h1 class="text-center">Number of subjects [<b th:text="${#arrays.length(account)}"></b>]</h1>
<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Full name</th>
        <th>Password</th>
        <th>Email</th>
        <th>Photo</th>
        <th>Enabled</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,state : ${accounts}">
        <td th:text="${state.count}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${#strings.capitalizeWords(user.fullname).toUpperCase()}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.photo}"></td>
        <td>
            <input type="checkbox" th:checked="${user.enabled}">
        </td>
        <td>
            <a class="btn btn-warning btn-sm" th:href="@{'/users/edit/' + ${user.username}}">Edit</a>
            <a class="btn btn-danger btn-sm" th:href="@{'/users/delete/' + ${user.username}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
