body {
    font-family: 'Nunito', sans-serif;
    transition: all 0.3s ease-in-out;
}

/*FORM PRODUCT*/
.btn {
    background-color: #4f46e5;
    border: none;
    box-shadow: 0 4px 6px rgba(79, 70, 229, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    font-weight: bold;
    background-color: #6f67ff;
    transform: scale(1.1);
    color: white;
}

.card:hover .btn-add-to-cart {
    display: block;
}

.card img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/*ALL*/
.textDecor {
    background: #121FCF;
    background: linear-gradient(to right, #6571f8 0%, #b70000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/*FORM MENU*/
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 25%;
    z-index: 1;
}

/*FORM DETAIL*/
.card-img-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-img-overlay {
    opacity: 1;
}

.card-img-top {
    height: 100%;
}

/*HEADER*/
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem !important;
}

.navbar-brand img {
    position: absolute;
    height: 100px;
    top: 0;
    left: 10%;
    transition: all 0.3s;
    filter: drop-shadow(0 0 0.75rem rgba(138, 138, 138, 0.75));
}

.navbar-brand img:hover {
    transition: all 0.3s;
    filter: drop-shadow(5px 5px 0.75rem #CADC8B);
}

nav {
    height: 70px;
}

/*LINKS*/
.nav-link {
    box-shadow: inset 0 0 0 0 #9a92ff;
    color: #aaa5ff;
}

.nav-link:hover {
    font-weight: bold;
    font-size: 1.1rem;
    background: linear-gradient(to right, #6571f8 0%, #b70000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: inset 0 -2px 0 0 #492ae8;
    transform: translateY(-5px);
    transition: all 0.3s;
}

/*OFFCANVAS*/
.offcanvas-custom {
    width: 500px !important;
}