<!DOCTYPE html>
<html lang="en" th:replace="~{/home/index.html :: home(~{::body})}" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Check Out</title>
</head>
<body>
<h1 class="textDecor">Check Out</h1>
<div class="row">
    <!--    CART DETAIL-->
    <div class="col-lg-5 overflow-auto card shadow" style="height: 70vh">
        <div ng-if="cart.items.length == 0" class="alert alert-warning">Giỏ hàng trống
            <a class="nav-item" th:href="@{/}">mua ngay</a></div>
        <div ng-repeat="i in cart.items" class="card mb-3 mt-3">
            <div class="row">
                <div class="col-lg-2 align-middle d-flex justify-content-center">
                    <img class="w-100" src="/images/{{i.image}}" alt="{{i.image}}">
                </div>
                <div class="card-body col-lg-10">
                    <div class="d-flex gap-5">
                        <h5 class="card-title fw-bold">{{$index+1}}.{{i.name}}</h5>
                        <a class="" href="/product-detail/{{i.id}}">Xem</a>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Đơn giá: <b>{{i.price}} $</b></h6>
                    <div class="d-flex align-items-center align-middle justify-content-between">
                        <div class="gap-2 d-flex justify-content-center align-items-center align-middle">
                            <b>{{i.price}}</b>
                            x
                            <b>{{i.quantity}}</b>
                            <b> = {{i.price * i.quantity}} $</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-5">
            <a ng-if="cart.items.length > 0" class="btn btn-primary" href="/">Tiếp tục mua hàng</a>
        </div>
    </div>
    <!--    CART SUMMARY-->
    <div class="col-lg-7">
        <div class="card shadow">
            <div class="card-body">
                <p>Tổng số lượng sản phẩm: <b>{{cart.count}}</b></p>
                <p>Tổng sản phẩm: <b>{{cart.items.length}}</b></p>
                <h3>Thành tiền: <b>{{cart.sum}} $</b></h3>
            </div>
        </div>
        <div class="card shadow mt-3">
            <div class="card-header">
                <h5>Thông tin giao hàng</h5>
            </div>
            <div class="card-body">
                <form action="/order/checkout" method="post">
                    <span hidden="hidden" id="username">[[${purchaser}]]</span>
                    <div class="form-floating mb-3">
                        <input disabled th:value="${username}" type="text" class="form-control" id="name"
                               placeholder="Name" required>
                        <label for="name">Họ và tên</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea style="height: 100px" ng-model="order.address" class="form-control" id="address"
                                  name="address" placeholder="Address" required></textarea>
                        <label for="address">Địa chỉ giao hàng</label>
                    </div>
                    <div class="form-floating mb-3">
                        <p>Ngày đặt: {{order.createDate | date:'dd-MM-yyyy'}} <b class="badge text-bg-success">Hôm
                            nay</b></p> <!-- Hiển thị ngày với định dạng -->
                    </div>
                    <div class="d-flex gap-5">
                        <button type="button" ng-click="order.purchase()" class="btn btn-primary w-50">Đặt hàng
                        </button>
                        <a style="background-color: red" type="button" th:href="@{/}"
                           class="btn btn-primary w-50">Hủy
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center mt-5">
            <a class="btn btn-primary w-50" href="/order/history">Lịch sử đơn hàng</a>
        </div>
    </div>
</div>
</body>
</html>