<div class="offcanvas offcanvas-end offcanvas-custom" tabindex="2" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Giỏ hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div ng-repeat="i in cart.items" class="card mb-3">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{$index+1}}.{{i.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Đơn giá: {{i.price}}</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">
                        {{i.price}} x
                        <input ng-change="cart.saveToLocalStorage()" type="number"
                               class="form-control d-inline-block ml-2" style="width: 60px;" required
                               ng-model="i.quantity" min="1" max="10"> = {{i.price * i.quantity}} $
                    </p>
                </div>
                <button style="background-color: red" class="btn btn-danger btn-sm mt-2 float-end"
                        ng-click="cart.remove(i.id)">Xóa
                </button>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <p>Tổng sản phẩm: <b>{{cart.count}}</b></p>
                <p>Sản phẩm: <b>{{cart.items.length}}</b></p>
                <h3>Tổng: <b>{{cart.sum}} $</b></h3>
                <button style="background-color: red" class="btn btn-warning" ng-click="cart.clear()">Xóa giỏ</button>
                <a class="btn" href="/cart-detail">Thanh toán</a>
            </div>
        </div>
    </div>
</div>