<!DOCTYPE html>
<html lang="en" th:replace="~{/home/index.html :: home(~{::body})}" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>

<body>
<div class="row">
    <!--    CART DETAIL-->
    <div class="col-lg-8 overflow-auto card shadow" style="height: 70vh">
        <div class="sticky bg-white" style="top: 0">
            <h1 class="text-center textDecor shadow">Giỏ hàng</h1>
        </div>
        <div ng-if="cart.items.length == 0" class="alert alert-warning">Giỏ hàng trống
            <a class="nav-item" th:href="@{/}">mua ngay</a></div>
        <div ng-if="cart.items.length > 0" class="alert alert-success">Có {{cart.items.length}} sản phẩm trong giỏ
            hàng
        </div>
        <div ng-repeat="i in cart.items" class="card mb-3">
            <div class="row">
                <div class="col-lg-2 align-middle d-flex justify-content-center">
                    <img class="w-100" src="/images/{{i.image}}" alt="{{i.image}}">
                </div>
                <div class="card-body col-lg-10">
                    <div class="d-flex gap-5">
                        <h5 class="card-title fw-bold">{{$index+1}}.{{i.name}}</h5>
                        <a class="" href="/product-detail/{{i.id}}">Xem</a>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Đơn giá: <b>{{i.price}} $</b></h6>
                    <div class="d-flex align-items-center align-middle justify-content-between">
                        <div class="gap-2 d-flex justify-content-center align-items-center align-middle">
                            <b>{{i.price}} x</b>
                            <button class="border-0 textDecor" ng-click="i.quantity = 1; cart.saveToLocalStorage()">
                                <i class="fa-solid fa-angles-left"></i>
                            </button>
                            <input ng-change="cart.saveToLocalStorage()" type="number"
                                   class="form-control d-inline-block ml-2"
                                   style="width: 60px;" required ng-model="i.quantity" min="1" max="10">
                            <button class="border-0 textDecor" ng-click="i.quantity = 10; cart.saveToLocalStorage()"><i
                                    class="fa-solid fa-angles-right"></i></button>
                            <b> = {{i.price * i.quantity}} $</b>
                        </div>
                        <button style="background: red" class="btn btn-danger btn-sm mt-2 float-end"
                                ng-click="cart.remove(i.id)">Xóa
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-5">
            <a ng-if="cart.items.length > 0" class="btn btn-primary" href="/">Tiếp tục mua hàng</a>
        </div>
    </div>
    <!--    CART SUMMARY-->
    <div class="col-lg-4">
        <div class="card mt-3">
            <div class="card-body">
                <p>Tổng sản phẩm: <b>{{cart.count}}</b></p>
                <p>Sản phẩm: <b>{{cart.items.length}}</b></p>
                <h3>Tổng: <b>{{cart.sum}} $</b></h3>
                <div class="justify-content-between d-flex">
                    <button style="background: red" class="btn btn-warning" ng-click="cart.clear()">Xóa giỏ</button>
                    <a class="btn" href="/order-checkout">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>