<!DOCTYPE html>
<html lang="en" th:replace="~{/home/index.html :: home(~{::body})}" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Products - Products</title>
</head>

<body>
<!--BANNER-->
<section class="container my-5">
    <div class="row">
        <img alt="" class="w-100 shadow-lg" src="/webImg/banner3.jpg">
    </div>
</section>
<!--END BANNER-->
<!-- Main Content -->
<section class="row">
    <div class="col-lg-3 ">
        <!--CATEGORY-->
        <div class="card p-3 shadow-lg border-0">
            <h5><b><i class="fa-solid fa-list"></i> Loại sản phẩm</b></h5>
            <div class="list-group list-group-light">
                <a class="list-group-item list-group-item-action px-3 border-0"
                   th:each="catergory,status : ${listCategory}" th:href="@{/search(id=${catergory.id})}">
                    <span class="textDecor" th:text="${status.index + 1 +'.' +catergory.name}">Category</span>
                    <span class="float-end" th:text="${catergory.products.size()}">0</span>
                </a>
            </div>
        </div>
        <!--LỌC NÂNG CAO-->
        <form class="shadow p-4 my-5 sticky" method="get" th:action="@{/search}">
            <h5 class="text-center">Tìm kiếm nâng cao</h5>
            <div class="">
                <div class="form-floating mb-3">
                    <select class="form-select" id="categorySelect" name="id">
                        <option disabled selected>Chọn:</option>
                        <option th:each="category : ${listCategory}" th:text="${category.name}"
                                th:value="${category.id}"></option>
                    </select>
                    <label class="form-label" for="categorySelect">Category</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="minInput" name="min" placeholder="Enter min price" type="text">
                    <label class="form-label" for="minInput">Giá thấp</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="maxInput" name="max" placeholder="Enter max price" type="text">
                    <label class="form-label" for="maxInput">Giá cao</label>
                </div>
                <button class="btn btn-primary mt-2" type="submit">Tìm kiếm</button>
                <a class="btn btn-danger mt-2" th:href="@{/}">Reset</a>
            </div>
        </form>
    </div>
    <!--PRODUCTS-->
    <div class="col-lg-9">
        <div>
            <h1 class="text-center textDecor">Sản phẩm</h1>
            <h5>Số sản phẩm : <b th:text="${products.size()}"></b></h5>
        </div>
        <div class="row g-3">
            <div class="col-lg-3" th:each="product : ${products}">
                <div class="card shadow overflow-hidden border-0 justify-content-center align-items-center p-3"
                     style="height: 15rem">
                    <img class="w-100" th:alt="${product.image}"
                         th:src="@{/images/{image}(image=${product.image})}"/>
                    <div
                            class="card-img-overlay d-flex align-items-center justify-content-center text-white bg-dark bg-opacity-75 ">
                        <a th:attr="ng-click=@{|cart.add(${product.id})|}" class="btn"
                           th:classappend="${!product.available ? 'disabled' : ''}"
                           type="button"
                           onclick="showToast()">
                            Add to cart
                        </a>
                        <a class="nav-link p-1" style="position: absolute;top: 85%;color: white"
                           th:href="@{/product-detail/{id}(id=${product.id})}" type="button">
                            Xem chi tiết
                        </a>

                    </div>
                </div>
                <div class="p-2 mt-2">
                    <div class="" style="height: auto">
                        <h5 class="card-title text-break" th:text="${product.name}">TÊN</h5>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                            <span class="badge card-text"
                                  th:classappend="${product.available ? 'text-bg-success' : 'text-bg-danger'}"
                                  th:text="${product.available ? 'Còn hàng' : 'Hết hàng'}">AVAILABLE</span>
                        <span class="fs-3" th:text="${product.price} + '$'">GIÁ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--THÔNG BÁO-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastMessage" class="toast hide">
        <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
            <small>Vừa xong</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <h5>Đã thêm</h5>
            <a class="btn btn-primary" th:href="@{/cart-detail}">Xem giỏ hàng</a>
        </div>
    </div>
</div>

</body>

</html>