<!DOCTYPE html>
<html lang="en" th:replace="~{/home/index.html :: home(~{::body})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <!-- BOOTSTRAP -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <style>
        .card-img-overlay {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .card:hover .card-img-overlay {
            opacity: 1;
        }

        .card-img-top {
            height: 100%; /* Ensure the image takes up the full height */
        }

    </style>
</head>
<body>
<div class="row mb-5">
    <!--    CATEGORY-->
    <div class="col-lg-3 card p-3 shadow-lg border-0 h-100">
        <h5>Category</h5>
        <div class="list-group list-group-light">
            <a class="list-group-item list-group-item-action px-3 border-0" th:each="catergory : ${listCategory}"
               th:href="@{/search(id=${catergory.id})}"
               th:text="${catergory.name}"></a>
        </div>
    </div>
    <!--    DETAIL-->
    <div class="col-lg-9">
        <div class="card shadow-lg border-0 rounded-0 mb-4" style="min-height: 20vh !important;">
            <div class="row g-0">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="icon-link icon-link-hover nav-link px-2 py-1" href="/">Trang
                            chủ</a></li>
                        <li class="breadcrumb-item active icon-link icon-link-hover px-2 py-1"
                            aria-current="page" th:text="${product.name}"></li>
                    </ol>
                </nav>
                <div class="col-lg-6 d-flex align-items-center overflow-hidden">
                    <img class="mx-auto" style="max-width: 20vh"
                         th:alt="${product.getImage()}" th:src="@{/images/{image}(image=${product.image})}">
                </div>
                <div class="col-lg-6 p-4">
                    <h1 class="display-5" th:text="${product.name}"></h1>
                    <p class="text-muted" th:text="'Loại : ' + ${product.category.name}"></p>
                    <p class="text-muted" th:text="'Chi tiết : ' + ${product.description}"></p>
                    <p style="font-weight: bold" th:classappend="${product.available ? 'text-success':'text-danger'}"
                       th:text="${product.available ? 'Còn hàng' : 'Hết hàng'}"></p>
                    <p th:text="'Ngày đăng: ' + ${product.createDate}"></p>
                    <p class="fs-1 text-warning" th:text="${product.price} + ' $'"></p>
                    <button th:attr="ng-click=@{|cart.add(${product.id})|}" th:disabled="${!product.available}"
                            class="btn" type="button" onclick="showToast()">Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SAME PO RO DUTCH =)))-->
<div class="row g-4">
    <div class="col-lg-12">
        <h3 class="text-center textDecor">Sản phẩm cùng loại</h3>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6" th:each="s : ${spCungLoai}">
        <div class="card shadow border-0 rounded-0 mb-4 position-relative overflow-hidden">
            <a class="text-decoration-none d-block h-100" th:href="@{/product-detail/{id}(id=${s.getId()})}">
                <div class="position-relative" style="height: 20vh;overflow: hidden">
                    <img class="card-img-top w-100" style="height: 100%; object-fit: cover;"
                         th:alt="${s.getImage()}" th:src="@{/images/{image}(image=${s.getImage()})}">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center text-white bg-dark bg-opacity-75 ">
                        <h5 class="card-title m-0" th:text="${s.name}"></h5>
                    </div>
                </div>
                <div class="card-body text-center m-0 py-2 d-flex flex-row justify-content-between">
                    <h5 class="card-title fs-6 text-warning" th:text="${s.price} + '$'"></h5>
                    <h5 class="badge" th:classappend="${s.available ? 'text-bg-success' : 'text-bg-danger'}"
                        th:text="${s.available ? 'Còn hàng' : 'Hết hàng'}"></h5>
                </div>
            </a>
        </div>
    </div>
</div>

<!--Đánh giá sp-->
<div class="row my-5">
    <div class="col-lg-12">
        <h3 class="text-center textDecor">Đánh giá sản phẩm</h3>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">Đánh giá sản phẩm <b>[[${product.name}]]</b></h5>

                <div th:each="p : ${product.category.getProducts()}" class="mb-3">
                    <div class="review-item border-bottom pb-3 mb-3">
                        <h6 class="card-subtitle mb-2 text-muted">Đánh giá từ người dùng: <b>[[${p.name}]]</b></h6>
                        <p class="card-text">Sản phẩm này rất tốt, bạn nên mua.</p>
                        <div class="text-warning">
                            <!-- Thay thế các sao bằng số lượng sao cần thiết -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <form action="">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="fullname" placeholder="name@example.com">
                    <label for="fullname"><b class="text-danger">*</b> Full name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email"><b class="text-danger">*</b> Email</label>
                </div>
                <div class="form-floating mb-3">
                <textarea style="height: 200px" class="form-control" id="comment" name="comment"
                          placeholder="Comment"> </textarea>
                    <label class="form-label" for="comment">Comment</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<!--THÔNG BÁO-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastMessage" class="toast hide">
        <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
            <small>Vừa xong</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <h5>Đã thêm</h5>
            <a class="btn btn-primary" th:href="@{/cart-detail}">Xem giỏ hàng</a>
        </div>
    </div>
</div>
</body>
</html>